body {
    margin: 0;
    font-family: sans-serif;
  }
  header, footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 40px;
  }
  .section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background: #ecf0f1;
    padding: 10px;
  }

  .item {
    background: #dfe6e9;
    padding: 30px;
    text-align: center;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

  .simple-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .item.first {
    width: 100%;
    flex: 0 0 100%;
    background: #dff9fb;
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .wrap-center {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .wrap-center .item {
    flex: 1 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    background: #c7ecee;
    padding: 15px;
    text-align: center;
    border: 1px solid #aaa;
    box-sizing: border-box;
  }
  
  