body {
  margin: 0;
  font-family: sans-serif;
}

body {
  background: #f8f9fa; 
}

.main-container {
  width: 1200px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 40px;
  background: white; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


header, footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 40px;
}

/* Секция с 12 блоками: 4 в строке */
.section:first-of-type {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background: #ecf0f1;
  padding: 10px;
}

/* Общий вид .item */
.item {
  background: #dfe6e9;
  padding: 30px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Сетка с заголовками 13–16 */
.simple-grid {
  display: grid;
  grid-template-rows: repeat(4, auto) auto;
  gap: 30px;
  width: 100%;
}

/* Блоки .first (13–16): каждый на своей строке */
.item.first {
  background: #dff9fb;
  padding: 15px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
}

/* Центровка 17–20 в wrap-center */
.wrap-center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.wrap-center .item {
  background: #c7ecee;
  padding: 15px;
  text-align: center;
  border: 1px solid #aaa;
  box-sizing: border-box;
}
